<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h2>Đăng ký quản lý</h2>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="mb-3">
            <label>Tên đăng nhập</label>
            <input type="text" th:field="*{username}" class="form-control"/>
        </div>
        <div class="mb-3">
            <label>Mật khẩu</label>
            <input type="password" th:field="*{password}" class="form-control"/>
        </div>
        <button class="btn btn-success">Đăng ký</button>
    </form>
</body>
</html>
